.profile__edit-button {
  width:100%;
  min-width: 24px;
  max-height: 24px;
  background-color: transparent;
  padding: 0;
  border: 0;
  margin-left: 18px;
  margin-top: 12px;
  background-image: url(../../../images/profile/EditButton1.svg);
}
.profile__edit-button:hover {
  opacity: .7;
  transition: 1s;
  cursor: pointer;
}
@media (max-width: 1023px) {
  .profile__edit-button {
    min-width: 18px;
    min-height: 18px;
    margin-left: 11px;
    margin-top: 8px;
    background-image: url(../../../images/profile/EditButton320.svg);
    background-repeat: no-repeat;

  }
}