.element__title-zone {
  padding-top: 25px;
  padding-bottom: 31px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}