.profile__info-zone {
  max-width: 336px;
  max-height: 73px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (max-width: 1023px) {
  .profile__info-zone {
    min-width: 282px;
    max-height: 64px;
    align-items: center;
    align-content: center;
    margin-left: 30px;
    margin-top: 26px;
  }
}